/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del contenedor grid */
.grid-container {
  display: grid;
  grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; 
}

/* Estilos para cada área */

header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 50px;
  vertical-align: middle;
}

aside {
  grid-area: aside;
  background-color: #444;
  padding: 20px;
}

main {
  grid-area: main;
  padding: 20px;
}

      /* Estilos para el header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF; /* Azul bonito */
  padding: 30px 20px;
  color: white;
}

.titulo_logo{
  display: flex;
  align-items: center;
  gap: 30%;
  width: 60%;
}

.logo img {
  max-height: 100px;
  margin-left: 30px;
}

.title h1 {
  margin: 0;
  font-size: 35px;
}

.right-icons {
  display: flex;
  align-items: center;
}

.right-icons a {
  margin-left: 15px; /* Espacio entre los íconos */
  color: white; /* Color de los íconos */
  text-decoration: none; /* Sin subrayado */
}

.right-icons img {
  max-height: 30px; /* Ajusta la altura de los íconos */
}

.whatsapp-icon {
  display: flex;
  align-items: center; /* Centra el número de WhatsApp con el ícono */
}

.whatsapp-icon span {
  margin-left: 5px; /* Espacio entre el ícono y el número */
  font-size: 14px; /* Tamaño del texto del número */
}

      /* Galería de productos en Main */

.galeria .imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.galeria img {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.galeria img:hover {
  transform: scale(1.4); /* Aumenta el tamaño de la imagen en un 10% */
} 

      /* Estilos de la tarjeta de producto */
.producto_cat {
  text-align: center;
}

.producto_cat img {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 8px;
}

.producto_cat h3 {
  font-size: 1.1em;
  margin: 10px 0 5px;
}

.producto_cat button {
  padding: 8px 16px;
  background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto_cat button {
  padding: 8px 16px;
  background-color: #5f28a7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto_cat button:hover {
  background-color: #218838;
}

      /* Estilo para el menú lateral - ASIDE*/
aside {
  background-color: #1E1F22; 
  padding: 20px;
  color: #ffffff;
  width: 100%;
}

aside nav ul {
  list-style-type: none;
  padding: 0;
}

aside nav ul li {
  margin: 15px 0; 
}

aside nav ul li a {
  color: #ffffff; 
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

aside nav ul li a:hover {
  background-color: #28A745;
  color: #ffffff;
}

      /* Pie de pagina - Footer */

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}

.footer-column {
  width: 30%; 
}

.footer-column ul {
  list-style: none;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
}

.footer-column_red-menu {
  width: 30%;
  padding: 60px;
  font-size: 20px;
}

.footer-column_red-menu ul{
  list-style: none;
  padding-top: 15px;
}

.footer-column_red-menu a{
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}

.footer-column form input,
.footer-column form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.footer-column form button {
  background-color: #28A745;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  
  aside {
    position: static;
  }
  .menu_mov{
    background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  }

  .grid-container {
    display: block;
  }
  .galeria .imagenes {
    grid-template-columns: 1fr;
  }
  .titulo_logo{
    flex-direction: column;
  }
  .logo img {
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .title h1 {
    font-size: 25px;
    font-weight: bold;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 10px 0;
    gap: 10px; /* Espacio entre elementos dentro del footer */
    border-top: 2px solid #555;
  }
}